# [**Tipos de Datos**](https://docs.python.org/es/3/tutorial/datastructures.html#)

En programación, los **tipos de datos** son un concepto muy importante.

Las variables pueden contener distintos tipos de datos, y estos tipos pueden hacer distintas cosas.

En Python, existen diferentes tipos de datos por defecto:

* **Texto:**  *str.*
* **Numérico:**  *int, float, complex.*
* **Sequencial:**  *list, tuple, range.*
* **Mapping:**  *dict.*
* **Conjunto:**  *set, frozenset.*
* **Booleano:**  *bool*
* **Binario:**  *bytes, bytearray, memoryview.*

## Obtener el tipo de Dato de Una Variable

Para esto, se usa el comando **type**:

In [ ]:
x = 5;
print(type(x));

x = 5.9
print(type(x));

x = 5j
print(type(x));

x = ["Hola", "mundo"]
print(type(x));

x = ("Hola", "mundo")
print(type(x));

x = range(5)
print(type(x));

x = {"name" : "Stiven", "age" : 28}
print(type(x));

x = {"Stiven",28, 45.6}
print(type(x));

x = frozenset(["Stiven",28, 45.6])
print(type(x));

x = True
print(type(x));

x = b"Matrix"
print(type(x));

x = bytearray(5)
print(type(x));

x = memoryview(bytes(5))
print(type(x));

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

# **Entrada del usuario**

En una aplicación de línea de comandos de Python, puede mostrar
información al usuario mediante la función `print()`:

In [1]:
name = "Roy"
print(name)

Roy

También podemos aceptar la entrada del usuario, usando `input()`:

In [2]:
print('¿Qué edad tienes?')
age = input()
print('Tú edad es de ' + age)

¿Qué edad tienes?
32
Tú edad es de 32

Este enfoque recibe información en tiempo de ejecución, lo que significa que el programa detendrá la ejecución y esperará hasta que el usuario
escriba algo y presiona la tecla `Enter`.

También puede realizar un procesamiento de entrada más complejo y
aceptar la entrada en el momento de la invocación del programa, y ​​veremos
cómo hacer eso más adelante.

Esto funciona para aplicaciones de línea de comandos. Otros tipos
de las aplicaciones necesitará una forma diferente de aceptar
aporte.

# **Listas**

Las listas son una estructura de datos esencial de Python. Le permiten agrupar varios valores y referencialos a todos con un nombre común.

Por ejemplo:

In [ ]:
x = ["Hola", "mundo"]

Una lista puede contener valores de diferentes tipos:

In [3]:
a=[23.56, -71, "Hola"]
items = ["Roy", 1, "Alejandro", True]

print(items)

['Roy', 1, 'Alejandro', True]

In [ ]:
#b=[1.2,] #Si es una lista.
c=[1.2] #No es una lista.

Puede comprobar si un elemento está contenido en una lista con
el operador `in`:

In [4]:
print("Roy" in items)

True

Una lista también se puede definir como vacía:

In [ ]:
items1 = [] #Lista vacia

print(items1)

[]

Puede hacer referencia a los elementos de una lista por su índice,
comenzando desde cero:

In [ ]:
#items[0] # Stiven
#items[1] # 1
items[3] # True

True


Usando la misma notación puedes cambiar el valor
almacenado en un índice específico:

In [5]:
items[0]='Roy'

In [ ]:
items

['Steven', 1, 'Leonardo', True]

También puede utilizar `index()` para hallar la posición del elemento de la lista:

In [7]:
#items.index("Roy") 
items.index("Alejandro")

2

Colocando un índice negativo comenzará buscando desde el final:

In [8]:
items[-1]

True

In [9]:
items[-2]

'Alejandro'

Asunto que tambien ocurre en las variables tipo str.

In [10]:
my_str='Cadena'
my_str[-2]

'n'

También puede extraer una parte de una lista, utilizando sectores:

In [11]:
items[0:2]

['Roy', 1]

In [12]:
items[2:]

['Alejandro', True]

In [ ]:
my_str[2:]

'dena'


Obtenga el número de elementos contenidos en una lista usando el
función global `len()`, la misma que se usa para obtener la
longitud de un string:

In [ ]:
len(items)

4

***Puede*** agregar elementos a la lista utilizando `append()`:

In [13]:
items.append("Test")

In [14]:
items

['Roy', 1, 'Alejandro', True, 'Test']

O se puede usar `extend()`

In [15]:
items.extend(["Test"])

In [16]:
items

['Roy', 1, 'Alejandro', True, 'Test', 'Test']

También puedes usar el operador + =:

In [17]:
items += ["Test"]

In [18]:
items

['Roy', 1, 'Alejandro', True, 'Test', 'Test', 'Test']

Elimina un elemento usando el método `remove()`:

In [ ]:
items.remove("Test")

In [ ]:
items

['Steven', 1, 'Leonardo', True, 'Test', 'Test']

Puede agregar varios elementos usando

In [19]:
items += ["Test1", "Test2"]

In [20]:
items.extend(["Test1", "Test2"])

items

['Roy',
 1,
 'Alejandro',
 True,
 'Test',
 'Test',
 'Test',
 'Test1',
 'Test2',
 'Test1',
 'Test2']

Estos anexan el elemento al final de la lista.

Para agregar un elemento en medio de una lista, en un punto específico
index, use el método `insert()`:

In [21]:
items.insert(1, "Test")

print(items)

['Roy', 'Test', 1, 'Alejandro', True, 'Test', 'Test', 'Test', 'Test1', 'Test2', 'Test1', 'Test2']

# **Tuplas**

Las tuplas son otra estructura de datos fundamental de Python.
Te permiten crear grupos de objetos **inmutables**.
Esto significa que una vez que se crea una tupla, no se puede
modificado. No puede agregar ni quitar elementos.
Se crean de forma similar a las listas, pero utilizando
paréntesis en lugar de corchetes:

In [22]:
names = ["Roy", "Alejandro"]

Una tupla está ordenada, como una lista, para que pueda obtener sus valores
haciendo referencia a un valor de índice:

In [23]:
names = ["Roy", "Alejandro"]

names[0] +" "+  names[1]

'Roy Alejandro'

In [25]:
names = ["Roy", "Alejandro"]
names.append("Gómez")

print(names)

['Roy', 'Alejandro', 'Gómez']

## **EJERCICIO EN CLASE**

Posee muchas de las funcionalidades que posee una lista, interactua con ellas.

Por ejemplo:

1.   `index()`
2.   `len()`


Puede crear una versión ordenada de una tupla utilizando la función global `sorted()`:

In [26]:
names = ['Stiven', 'Leonardo', 'Silva','Andres']
sorted(names)

['Andres', 'Leonardo', 'Silva', 'Stiven']

Puede crear una nueva tupla a partir de tuplas existentes usando el operador +:

In [ ]:
newTuple = names + ["Vainilla", "Chocolate"]
print(newTuple)

['Stiven', 'Leonardo', 'Silva', 'Vainilla', 'Chocolate']

# **Diccionarios**

Los diccionarios son datos de Python muy importantes en su
estructura.
Si bien las listas le permiten crear colecciones de valores,
Los diccionarios le permiten crear colecciones de claves /
pares de valores.
Aquí hay un ejemplo de diccionario con un par **clave / valor**:

In [27]:
Persona = { 'name': 'Roy' }

La clave puede ser cualquier valor inmutable como una cadena, un
número o una tupla. El valor puede ser cualquier cosa que desee.
Un diccionario puede contener varios pares clave / valor:

In [28]:
Person = {"name" : "Roy", "age" : 32, "estatura" : 1.74}

Puede acceder a valores clave individuales utilizando este notación:

In [ ]:
#Person['name'] 
#Person['age']
Person['estatura']

1.75

Usando la misma notación puedes cambiar el valor almacenado en un índice específico:

In [29]:
Person['name'] = 'Alejandro'

In [30]:
print(Person)

{'name': 'Alejandro', 'age': 32, 'estatura': 1.74}

Y otra forma es usar el método `get()`, que tiene una opción para agregar un valor predeterminado:

In [31]:
Person.get('name')
Person.get('test', 'default')

'default'

In [32]:
Person

{'name': 'Alejandro', 'age': 32, 'estatura': 1.74}

Obtenga una lista con las claves en un diccionario usando el método `keys()`, pasando su resultado a la `list()` constructor:

In [33]:
list(Person.keys())

['name', 'age', 'estatura']

Puede agregar un nuevo par clave / valor al diccionario en
Por aquí:

In [34]:
Person['favorite food'] = 'Meat'

print(Person)

{'name': 'Alejandro', 'age': 32, 'estatura': 1.74, 'favorite food': 'Meat'}


Puede eliminar un par clave / valor de un diccionario usando la declaración `del`:

In [ ]:
del Person['name']

print(Person)

{'age': 28, 'estatura': 1.75, 'favorite food': 'Meat'}

## **EJEMPLO EN CLASE**

Un pequeño ejemplo de uso de un diccionario:

In [ ]:
tel = {'jack': 4098, 'sape': 4139}

In [ ]:
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
tel['jack']

4098

In [ ]:
del tel['sape']
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [ ]:
list(tel)

['jack', 'guido', 'irv']

In [ ]:
sorted(tel)

['guido', 'irv', 'jack']

In [ ]:
'guido' in tel

True

In [ ]:
'jack' not in tel
False

False

# **Conjuntos**

Los conjuntos son otra estructura de datos importante de Python.
Podemos decir que funcionan como tuplas, pero no lo son.
ordenados, y son mutables. O podemos decir que ellos
funcionan como diccionarios, pero no tienen claves. Ellos también tienen una versión inmutable, llamada `frozenset()`.

Puede crear un conjunto usando esta sintaxis:

In [35]:
names = {"Roy", "Alejandro"}

Los conjuntos funcionan bien cuando los consideras como
conjuntos matemáticos.

Puede intersecar dos conjuntos:

In [36]:
set1 = {"Roy", "Alejandro"}
set2 = {"Roy"}

In [37]:
intersect = set1 & set2 
print(intersect)

{'Roy'}

Puede crear una unión de dos conjuntos:

In [38]:
set1 = {"Roy", "Alejandro"}
set2 = {"Carlos"}

In [ ]:
union = set1  |  set2

In [39]:
union

NameError: ignored

Puede comprobar si un conjunto es un superconjunto de otro (y de
por supuesto si un conjunto es un subconjunto de otro)

In [ ]:
isSuperset = set1 > set2

In [ ]:
isSuperset

False

## **EJEMPLO EN CLASE**

Convierte las palabras 'abracadabra' y 'alacazam' en conjuntos y realiza operaciones conjuntistas entre ellas.

In [ ]:
# Demostrar operaciones de conjuntos en letras únicas de dos palabras

a = set('abracadabra')
b = set('alacazam')

In [ ]:
a

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
b

{'a', 'c', 'l', 'm', 'z'}

In [ ]:
a-b                              # letters in a but not in b

{'b', 'd', 'r'}

In [ ]:
a|b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [ ]:
a&b                              # letters in both a and b

{'a', 'c'}

In [ ]:
a^b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## **EJERCICIO EN CLASE**

Realizar ejemplos de conjuntos, para intersección, unión y diferencia entre conjuntos.

In [ ]:
# Escribe código aquí.